.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    color: #4a4a4a;
}
.cart-item-info{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1;
}
.product-cart-image{
    width: 4rem;
}
.product-details-cart{
    display: flex;
    flex-direction: column;
}
.cart-product-name{
    font-size: 1.5rem;
    font-weight: 500;
}
.cart-product-price{
    font-size: 18px;
    color: #00008b ;
}
.cart-actions{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}
.quantity-input{
    border: 1px solid #e2e2e2;
    width: 50px;
    height: 35px;
    text-align: center;
}
.delete-icon{
    cursor: pointer;
    font-size: 28px;
    color: #ff4444;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    background-color: #fff;
    padding: 15px;
    max-width: 600px;
    justify-content: center;
}
.checkout-box{
    width: 100%;
    max-width: 28rem;
}
.checkout-btn-container{
    width: 100%;
    text-align: end;
}
.checkout-btn{
    background-color: black;
    color: white;
    font-size: 0.875rem;
    margin-top: 2rem;
    padding: 0.75rem 2rem;

}
