.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
}
.footer-top{
    display: grid;
    place-content: center;
    gap: 30px;
}
footer-top h2{
    font-size: 40px;
    text-align: center;
}
.footer-top p{
    font-size: 18px;
    text-align: center;
}
.input-footer{
  display: flex;  
  justify-content: center;
  align-items: center;
}
.input-footer input{
    flex-grow: 1;
    padding: 15px;
    border: 2px solid #00008b;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 14px;
}
.input-footer button{
    background-color: #00008b;
    color: black;
    border: none;
    padding: 18px 20px;
    border-radius: 0 20px 20px 0 ;
    font-weight: bold;
    cursor: pointer;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.socials{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.socials .social-icon{
    font-size: 20px;
}
.footer-right ul{
    display: flex;
    gap: 15px
}
.footer-right ul li{
    font-size: 18px;
    list-style: none;
}